
@{
    ViewBag.Title = "Index";
    Layout = "~/View/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm("GiaiPhuongTrinhBacNhat", "GiaiPhuongTrinhBacNhat"))
{
    <label>Số Thứ Nhất</label>
    <input type="text" name="soA" />
    <label>Số Thứ Hai</label>
    <input type="text" name="soB" />
    <input type=" "submit" value="GiaiPhuongTrinh"/?
}

