
@{
    ViewBag.Title = "gptb1";
}

<h2>gptb1</h2>
@using(Html.BeginForm())
            {
                <input type="text" name="hesoA"/>
                <input type="text" name="hesoB"/>
                <input type="submit" value="giai phuong trinh"/>
            }
<h3>Nghiemcuaphuongtrinh la:@ViewBag.nghiemPT</h3>
